<header>
    <nav>
        <ul class="nav_ul">
            <li class="nav_li"><a class="{{ nav_index }}" href="{{ url_for('index') }}">Index</a></li>
            <li class="nav_li"><a class="{{ nav_practice }}" href="{{ url_for('practice') }}">Practice</a></li>
            <li class="nav_li"><a id = "quiz" class="{{ nav_quiz }}" href="{{ url_for('quiz') }}">Quiz</a></li>
            <li class="nav_li"><a class="{{ nav_about }}" href="{{ url_for('about') }}">About</a></li>
        </ul>
    </nav>
</header>