{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
<div>
    <h1>About this site</h1>
    <p>
        Web site built using python, django and sqlite. Made to build interconnecting
        rooms. Rooms are connected by a many to many relationship. Features I have used
        and learned.
    </p>
    <p>
        I used a choices option and read choices from within models. I
        searched rooms and doors to add to room using checkboxes.
    </p>
    <p>
        Use check boxes to add multiple items to many to many field at the same time.
    </p>
    <h1>New options</h1>
    <p>
        Change door edit. Add door then add locations. &#x2611;
    </p>
    <p>
        More options to rooms and doors. &#x2611;
    </p>
    <p>
        Location of doors. &#x2611;
    </p>
    <p>
        Textures for doors
    </p>
    <p>
        Remove old doors from database. &#x2611;
    </p>
    <p>
        Keep menu bar on top. &#x2611;
    </p>
    <p>
        Add maps and overview map.
    </p>
    <p>
        Added visual representation of the room. Using arithmatic
        operations on django variables to create room size and 
        place doors both on wall and location on wall.
    </p>
</div>
{% endblock %}