{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
<h1>Edit treasure</h1>
<p>{{ edit_treasure.name }}</p>
<form name="edit_treasure" action= "{% url 'edit_treasure'  edit_treasure.id %}" method="POST">
    {% csrf_token %}
    <label class="treasure_name">Treasure Name: </label>
    <input type="text" name="name" placeholder={{ edit_treasure.name }}>
    <br>
    <label class="treasure_name">Treasure Description: </label>
    <input type="text" name="description" placeholder={{ edit_treasure.description }} >
    <br>
    <dl>
    <dd>Rooms treasure are found in</dd>
    {% for treasure in room_treasures %}
        <dt>{{ treasure.name }}
            <a href="">Remove from room</a>
        </dt>
    {% endfor %}
    </dl>
    <ul>
        {% for treasure in treasure_rooms %}
            {% for t in treasure.room %}
            <li>
                <label class="treasure_name">
                    {{ t.name }}:{{t.room.name }}                                                           
                </label>
                <a href="{% url 'delete_treasure' treasure.id %}" class="delete_button">Remove from room</a>
            </li><br>
            {% endfor %}
        {% endfor %}
    </ul>
    {% for room in room_treasures %}
         <p>{{ room.name }}<input type="checkbox" name="new_doors" value="{{ room.id }}"></p>
    {% endfor %}
    <button>Add treasure to rooms</button>
</form>
</form>
{% endblock %}