{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
<h1>Edit treasure</h1>
<p>{{ edit_treasure.name }}</p>
<p>{{ edit_treasure.room.name }}</p>
<form name="edit_treasure" action= "{% url 'edit_treasure'  edit_treasure.id %}" method="POST">
    {% csrf_token %}
    <label class="treasure_name">Treasure Name: </label>
    <input type="text" name="name" placeholder={{ edit_treasure.name }}>
    <br>
    <label class="treasure_name">Treasure Description: </label>
    <input type="text" name="description" placeholder={{ edit_treasure.description }} >
    <br>
    <dl>
    <dd>Rooms treasure are found in</dd>
    {% for treasure in room_treasures %}
        <dt>{{ treasure.room.name }}
            <a href="">Remove from room</a>
        </dt>
    {% endfor %}
    </dl>
    {% for room in rooms_available %}
         <p>{{ room }}<input type="checkbox" name="new_doors" value="{{ room.id }}"></p>
    {% endfor %}
    <button>Add treasure to rooms</button>
</form>
</form>
{% endblock %}