{% extends "layout.html" %}

{% block content %}
    <h1>Index</h1>
    <form action="" method="post" name="grades">
    <dl>
    <dt>Grades available</dt>
        {% for result in myresult %}
            <dd>
                <input type="checkbox" id="grade{{result[0]}}" name="grades" Value={{result[0]}}
                {% if result[0] | string in session['grades'] %}
                    checked
                {% endif %}>
                <label for="grade{{result[0]}}">Grade {{result[0]}} - Kanji {{result[1]}}</label>
            </dd>
        {% endfor %}
    </dl>
    <h3>Total Kanji Available: {{kanjinumber}}</h3>
    <input class="index_button" type="submit" value="save">
    </form>
{% endblock %}