{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
<style> 
body {
    color: darkblue;
}

#door {
    margin-left: -40px;
}
</style>
<h1>Edit {{ edit_room.name }} Room</h1>
<form name="create" action= "" method="POST">
    {% csrf_token %}
    <input type="hidden" id="id" name="id" value="{{ request.session.room_id }}">
    <label>Room Name: </label>
    <input type="text" name="name" placeholder="{{ edit_room.name }}" value="{{ edit_room.name }}" />
    <br>
    <label>Description: </label>
    <input type="text" name="description" placeholder="{{ edit_room.description }}" />
    <br>
    <label>Shape: </label>
    <input type="text" name="shape" placeholder="{{edit_room.shape }}" />
    <br>
    <label>Width: </label>
    <input type="number" name="width" placeholder={{edit_room.width }} value={{edit_room.width}} />
    <p>{{ errors.width }}</p>
    <label>Height: </label>
    <input type="number" name="height" placeholder={{ edit_room.height }} value={{edit_room.height}} />
    <br>
    <table>
        <tr>
            <th>Door</th>
            <th>Wall</th>
            <th>Location</th>
            <th colspan=2>Options</th>
        </tr>
    {% for door in edit_room.doors.all %}
        <tr>
            <input type="hidden" name="doors" value="{{ door.id }}">
            <td><input type="text" id="next_room" value="{{ door.next_room }}" readonly></td>
            <td><input type="integer" name="doors" value= "{{ door.wall }}" /></td>
            <td><input type="integer" name="doors" value= "{{ door.location }}" /></td>
            <td><button><a href="{% url 'edit_door' door.id %}">Edit</a></button></td>
            <td><a href="{% url 'edit_delete' door.id edit_room.id %}">Remove</a></td>
        </tr>
    {% endfor %}
    </table>
    <p>
        {{ errors.minimum_location }}
    </p>
    <br />
{% for t in treasures %}
    <p>
        <label class="treasure_list">Treasure name: {{ t.name }}</label>
        <label class="treasure_list">Description: {{ t.description }}</label>
    </p>
    <a href="{% url 'delete_treasure' t.id %}">
            Delete
    </a>
    <br>
{% endfor %}
{% for d in doors %}
        {% if edit_room.id != d.id %}
        <p>
        Available Door: {{ d.name }}
            <input type="checkbox" name="dooradd" value="{{ d.name }}" />
        </p>
        {% endif %}
{% endfor %}
<p>
    <a href="{% url 'room_edit' edit_room.id %}">
    <button>Update Room</button>
    </a>
</p>
    <input type="submit" name="edit_room" Value="Submit Edit" />
</form>
<div id="borderimg1" style="width:{% widthratio edit_room.width 1 40 %}px; height: {% widthratio edit_room.height 1 40 %}px";>
    {% load static %}
    {% for d in edit_room.doors.all %}
        {% if d.wall == 3 %}
        <div style="position: absolute; margin-top:{% widthratio d.location 1 40 %}px">
            <img id="door" src="{% static 'images/door.png' %}" />
        </div>
        {% elif d.wall == 2 %}
        <div style="position: absolute; margin-left: {% widthratio d.location 1 40 %}px; margin-top: {% widthratio edit_room.height 1 40 %}px;">
            <img id="door" src="{% static 'images/door.png' %}" />
        </div>
        {% elif d.wall == 1 %}
        <div style="position: absolute; margin-left: {% widthratio edit_room.width|add:1 1 40 %}px; margin-top:{% widthratio d.location 1 40%}px;">
            <img id="door" src="{% static 'images/door.png' %}" />
        </div>
        {% elif d.wall == 0 %}
        <div style="position: absolute; margin-left: {% widthratio d.location 1 40 %}px; margin-top:-40px;">
            <img id="door" src="{% static 'images/door.png' %}" />
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}