{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
<h1>Treasure</h1>
<p>Add treasure to your room</p>
<table>
    <tr>
        <th>Room</th>
        <th>Name</th>
        <th>Description</th>
        <th>Assign</th>
        <th>Delete</th>
    </tr>
    {% for t in room_treasure %}
    <tr>
        <td>{{ t.room.name }}</td>
        <td>{{ t.name }}</td>
        <td>{{ t.description }}</td>
        <td>
        <a href="{% url 'edit_treasure' t.id %}">
                Assign&ensp;
        </a>
        </td>
        <td>
        <a href="{% url 'delete_treasure' t.id %}">
                Delete
        </a>
        </td>
    </tr>
    {% endfor %}
</table>
<form name="treaure" action= "" method="POST">
    {% csrf_token %}
    <p>
        <label>Name:</label>
        <input type="text" name="treasure_name">
        <p>{{ errors.treasure_name }}</p>
    </p>
    <p>
        <label>Description:</label>
        <input type="text" name="treasure_description">
    </p>
    {% for room in rooms %}
        <p>
            <input type="hidden" name="room_id" value="{{ room.id }}">
            Add Room: {{ room.name }}
                <input type="checkbox" name="treasure_room" value="{{ room.name }}" />
            <input type="hidden" name="treasure_description" value="{{ room.description }}">
        </p>
    {% endfor %}
    <input type=submit value="Add Treasure">
</form>
{% endblock %}