{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
<h1>Treasure</h1>
<p>Add treasure to your room</p>
{% for t in room_treasure %}
<form>
    <p><input type="text" name="name" placeholder="{{ t.name }}" /> : <input type="text" name="description" placeholder="{{ t.description }}" />
        <a href="{% url 'edit_treasure' t.id %}">
            <button>
                Edit
            </button>
        </a>
        <a href="{% url 'edit_treasure' t.id %}">
            <button>
                Delete
            </button>
        </a>
        <label>{{ t.room.name }}</label>
    </p>
</form>
{% endfor %}
<form name="treaure" action= "" method="POST">
    {% csrf_token %}
    <p>
        <label>Name:</label>
        <input type="text" name="treasure_name">
    </p>
    <p>
        <label>Description:</label>
        <input type="text" name="treasure_description">
    </p>
    <input type=submit value="Submit">
</form>
{% endblock %}